<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB35Syybz2tTsgyydQa7zaTjJgtYqe14hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>688745203053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pointage</string>
	<key>PROJECT_ID</key>
	<string>pointage-a04c7</string>
	<key>STORAGE_BUCKET</key>
	<string>pointage-a04c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688745203053:ios:b0fa60397bdb5942c14664</string>
</dict>
</plist>